.body{
  margin: 10px auto;
  max-width: 1400px;
  width: 800px;
  height:100%;
  box-shadow: 15px 0 15px grey
}
.container{
  margin: 20px 20px;
}
.header{
  padding-top: 1px;
  left: 400px;
  color: rgb(7, 165, 165);
}
.contacts{
  font: italic 18px Arial sans-serif; 
  }
.example{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: auto;
    background-color: honeydew;
}
.about{
    font: italic 18px arial sens-serif;
}
.instagram{
    position: absolute;
    top: 100px;
    left: 400px;
    padding: 5px;
    color: rgb(7, 165, 165);  
}
.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    padding: 0;
    text-align: right;
}
.year{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}